In [1]:
import os

# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
spark_version = 'spark-3.4.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:8 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [860 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,136 kB]
Get:10 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [980 kB]
Hit:11 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,241 kB]
Hit:13 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:14 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Fetched 4,558 kB in 3s (1,528 kB/s)
Reading package lists... Done



# 1. Read in the AWS S3 bucket into a DataFrame

### Importing Necessary Packages
First, we import the essential packages needed for the task.

```python
from pyspark.sql import SparkSession
import time
```

### Creating a SparkSession
SparkSession is the entry point to any Spark functionality. When you create a SparkSession, it initiates a Spark Application that all the code for that Session will run on.

```python
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
spark
```

### Defining the S3 Bucket URL
This URL points to the CSV file in the S3 bucket that you want to read into a DataFrame.

```python
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
```

### Adding the URL to Spark Context
Spark context is the client-side object that represents the connection to a Spark cluster and is used to configure and connect to your Spark cluster.

```python
spark.sparkContext.addFile(url)
```

### Reading the CSV file into a DataFrame
Spark DataFrame is a distributed collection of data organized into named columns. Here, we're reading the CSV file from the Spark context, specifying the separator as "," and treating the first row as headers.

```python
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep = "," , header = True)
```

### Showing the DataFrame
This will print the first 20 rows of the DataFrame in the console.

```python
df.show()
```

In [2]:
# Import packages
from pyspark import SparkFiles
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
spark

In [3]:
# 1. Read in the AWS S3 bucket into a DataFrame.

url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep = "," , header = True)
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [4]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView("sales")

Apache Spark is an open-source distributed computing system, and `spark.sql` is a part of Spark's SQL module. It allows you to run SQL queries programmatically, returning the result as a DataFrame. This can be quite powerful for data manipulation and querying in a big data context.

Here's a brief breakdown:

- `spark`: When you're working with Spark, you typically start by creating a SparkSession. This is usually stored in a variable named `spark`, and it's the entry point to any functionality in Spark.

- `sql`: This method on the SparkSession allows you to run SQL queries just as you would against a traditional database. You pass in your SQL query as a string, and it returns a DataFrame with the results.

So when you see `spark.sql('SELECT * FROM table')`, this is running a SQL query to select everything from the specified table and returning it as a DataFrame, allowing you to manipulate and analyze the data using Spark's distributed computing capabilities.

It's a handy tool to have, especially if you're already comfortable with SQL, as it allows you to leverage those skills in a distributed computing environment like Spark. It can be particularly useful in data analysis tasks like the ones you're learning in your bootcamp.

## **What is the average price for a four-bedroom house sold in each year rounded to two decimal places?**

In [5]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
spark.sql('''
SELECT
  YEAR(date) AS year,
  ROUND(AVG(price),2 ) AS average_price
FROM
  sales
WHERE
  bedrooms = 4
GROUP BY
  YEAR(date)

''').show()

+----+-------------+
|year|average_price|
+----+-------------+
|2022|    296363.88|
|2019|     300263.7|
|2020|    298353.78|
|2021|    301819.44|
+----+-------------+

## **What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors, and are greater than or equal to 2,000 square feet rounded to two decimal places?**

In [6]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal
spark.sql('''
SELECT
  YEAR(date) AS year,
  ROUND(AVG(price), 2) AS average_price
FROM
  sales
WHERE
  bedrooms = 4 AND bathrooms = 3
GROUP BY
  YEAR(date)
''').show()

+----+-------------+
|year|average_price|
+----+-------------+
|2022|    290780.14|
|2019|    292438.24|
|2020|    289659.97|
|2021|    292627.68|
+----+-------------+

## **What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than or equal to $350,000? Although this is a small dataset, determine the run time for this query.**

In [7]:
# 5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?

spark.sql('''
SELECT
  YEAR(date) AS year,
  ROUND(AVG(price), 2) AS average_price
FROM
  sales
WHERE
  bedrooms = 3 AND bathrooms = 3 AND floors = 2 AND sqft_living >= 2000
GROUP BY
  YEAR(date)
''').show()

+----+-------------+
|year|average_price|
+----+-------------+
|2022|    295505.36|
|2019|    301672.15|
|2020|    289891.27|
|2021|    296672.69|
+----+-------------+

In [22]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()
spark.sql('''
SELECT
  view as rating,
  ROUND(AVG(price), 2) AS average_price
FROM
  sales
GROUP BY
  view
HAVING
  AVG(price) >= 350000
ORDER BY
  view desc

''').show()

print("--- %s seconds ---" % (time.time() - start_time))

+------+-------------+
|rating|average_price|
+------+-------------+
|    99|   1061201.42|
|    98|   1053739.33|
|    97|   1129040.15|
|    96|   1017815.92|
|    95|    1054325.6|
|    94|    1033536.2|
|    93|   1026006.06|
|    92|    970402.55|
|    91|   1137372.73|
|    90|   1062654.16|
|    89|   1107839.15|
|    88|   1031719.35|
|    87|    1072285.2|
|    86|   1070444.25|
|    85|   1056336.74|
|    84|   1117233.13|
|    83|   1033965.93|
|    82|    1063498.0|
|    81|   1053472.79|
|    80|    991767.38|
+------+-------------+
only showing top 20 rows

--- 0.9454669952392578 seconds ---

In [19]:
# 7. Cache the the temporary table home_sales.
spark.catalog.cacheTable("sales")

**Caching** is a technique used in computing to store data in a place where it can be accessed more quickly. It's like keeping your favorite snacks in a nearby drawer instead of in the kitchen – they're easier to grab when you want them.


**What is Cached in spark:** In the context of Spark, caching means storing the result of a DataFrame or temporary view in memory. This allows Spark to access the data more quickly than if it had to read it from disk every time.

In [20]:
# 8. Check if the table is cached.
spark.catalog.isCached('sales')

True

In [41]:
# 9. Using the cached data, run the query that filters out the view ratings with average price
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()
spark.sql('''
SELECT
  view as rating,
  ROUND(AVG(price), 2) AS average_price
FROM
  sales
GROUP BY
  view
HAVING
  AVG(price) >= 350000
ORDER BY
  view desc


''').show()

print("--- %s seconds ---" % (time.time() - start_time))

+------+-------------+
|rating|average_price|
+------+-------------+
|    99|   1061201.42|
|    98|   1053739.33|
|    97|   1129040.15|
|    96|   1017815.92|
|    95|    1054325.6|
|    94|    1033536.2|
|    93|   1026006.06|
|    92|    970402.55|
|    91|   1137372.73|
|    90|   1062654.16|
|    89|   1107839.15|
|    88|   1031719.35|
|    87|    1072285.2|
|    86|   1070444.25|
|    85|   1056336.74|
|    84|   1117233.13|
|    83|   1033965.93|
|    82|    1063498.0|
|    81|   1053472.79|
|    80|    991767.38|
+------+-------------+
only showing top 20 rows

--- 0.45435190200805664 seconds ---

In [26]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy("date_built").mode("overwrite").parquet("parqet_sales")

In [31]:
# 11. Read the parquet formatted data.
parqet_sales_df = spark.read.parquet("parqet_sales")
parqet_sales_df.head()

Row(id='2ed8d509-7372-46d5-a9dd-9281a95467d4', date='2021-08-06', price='258710', bedrooms='3', bathrooms='3', sqft_living='1918', sqft_lot='9666', floors='1', waterfront='0', view='25', date_built=2015)

In [32]:
# 12. Create a temporary table for the parquet data.
parqet_sales_df.createOrReplaceTempView('parqet_sales')

In [42]:
# 13. Run the query that filters out the view ratings with average price of greater than or equal to $350,000
# with the parquet DataFrame. Round your average to two decimal places.
# Determine the runtime and compare it to the cached version.
start_time = time.time()
spark.sql('''
SELECT
  view as rating,
  ROUND(AVG(price), 2) AS average_price
FROM
  sales
GROUP BY
  view
HAVING
  AVG(price) >= 350000
ORDER BY
  view desc

''').show()

print("--- %s seconds ---" % (time.time() - start_time))

+------+-------------+
|rating|average_price|
+------+-------------+
|    99|   1061201.42|
|    98|   1053739.33|
|    97|   1129040.15|
|    96|   1017815.92|
|    95|    1054325.6|
|    94|    1033536.2|
|    93|   1026006.06|
|    92|    970402.55|
|    91|   1137372.73|
|    90|   1062654.16|
|    89|   1107839.15|
|    88|   1031719.35|
|    87|    1072285.2|
|    86|   1070444.25|
|    85|   1056336.74|
|    84|   1117233.13|
|    83|   1033965.93|
|    82|    1063498.0|
|    81|   1053472.79|
|    80|    991767.38|
+------+-------------+
only showing top 20 rows

--- 0.3203420639038086 seconds ---

In [ ]:
# 14. Uncache the home_sales temporary table.
s

In [ ]:
# 15. Check if the home_sales is no longer cached